@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/RobotoRegular.eot);
    src: url(../fonts/RobotoRegulard41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoRegular.woff) format("woff"), url(../fonts/RobotoRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal
}
@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/RobotoBold.eot);
    src: url(../fonts/RobotoBoldd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoBold.woff) format("woff"), url(../fonts/RobotoBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url(../fonts/RobotoBoldItalic.eot);
    src: url(../fonts/RobotoBoldItalicd41d.eot?#iefix) format("embedded-opentype"), url(../fonts/RobotoBoldItalic.woff) format("woff"), url(../fonts/RobotoBoldItalic.ttf) format("truetype");
    font-style: normal;
    font-weight: normal
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400i');

@font-face {
    font-family: 'RobotoMedium';
    src: url(../fonts/RobotoMedium.woff) format("woff"), url(../fonts/RobotoMedium.ttf) format("truetype");
    font-style: normal;
    font-weight: normal
}
body{
	padding:0;
	font-family: 'Roboto',arial;
	font-size:15px;
	line-height:17px;
	overflow-x:hidden;
	width:100%;
	box-sizing:border-box;
}
@media (min-width:768px){
	body{font-size:16px;line-height:22px;}
}

body a{
	font-family: 'Roboto';
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	font-weight:400;
	text-decoration:none;
	color:#009cff;
}
body a:hover{text-decoration:underline;}
input[type="email"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	
}
input::placeholder{
color:#666;}

h1,h2,h3,h4,h5,h6{
	text-align:center;
	color: #666;
    font-weight: normal;
    line-height: normal;
	margin:0 0 15px;
	
}	
b,strong{font-family: 'Roboto',arial;font-weight:bold}
nav,footer{padding:20px 0;margin:0;}
main{padding:0px;margin:0}
.clearfix{min-height:1px;display:block;position:relative;clear:both}
header {
  padding:15px 0;
  margin:0;
}

nav{
  background-color: #000;
padding:10px 0;
  
}
nav a .fa{text-decoration:none;color:#fff;}

nav .menu{display:none}
@media (min-width:768px){
nav a .fa{display:none}	
nav .menu{display:table;position:relative;margin:0 auto}	
nav .menu a{font-family: 'RobotoMedium',arial;text-decoration:none;color:#fff;font-size:15px;text-transform:uppercase;padding-right:5px;padding-left:5px}
nav .menu a:hover{color:#000}
}
@media (min-width:992px){
nav .menu a{font-size:16px;text-transform:uppercase;padding-right:30px;padding-left:30px}
}

main .triangle{position: relative;
    margin-top: -55px;
	max-width:345px;border-right:25px solid transparent;border-bottom:52px solid rgba(232, 37, 129, 0.749);
}
main .label a{position:absolute;max-width:315px;padding:11px 0 7px 10px;
font-family:'Roboto';	
font-size:12px;line-height:15px;
color:#fff;
}
.author{margin-top:0;margin-left:-15px;margin-right:-15px;height:206px;background:url('../images/header-bg-4.jpg') no-repeat center top;}
@media (min-width:576px){
	.author{margin-top:25px;}
}
@media (min-width:992px){
	.author{background-size:cover;margin-top:17px;}
}
.related{margin-left:-15px;margin-right:-15px;}
span.red{
  font-size: 15px;
  font-family: "RobotoBold";
  color: rgb(255, 1, 1);
  line-height: 26px;
  text-align: left;

}
span.gray,span.dtime{
  display:block;
  font-family: "Roboto";
   line-height: 18px;
  text-align: left;
font-size: 14px;
padding-top:5px
  
}
span.gray{font-family: 'Roboto',arial;color:#8d8d8d;}

.logo_img img{max-width:60%}
h1 {    padding-top: 90px;
    font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: rgb(255, 255, 255);
  text-shadow: 0px 7px 16px #000;

}

h2 {
  font-size: 30px;
  font-family: "RobotoMedium";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  margin-bottom:10px;
  margin-top:5px;
font-weight: bold;
}
h3{font-family:"RobotoBold";color:#000}
@media (min-width:576px){h1 {padding-top: 70px;
font-size: 29px;line-height:32px}h2{font-size:18px}}
@media (min-width:768px){h1 {
font-size: 30px;line-height:36px}h2{font-size:19px}}
@media (min-width:992px){h1{padding-top:100px;padding-left:5px;padding-right:5px}h2{padding-top:0px;font-size: 19px;}
}
blockquote{
  font-size: 22px;
  font-family: 'Roboto',arial;
  font-weight: bold;
  color: rgb(0, 0, 0);
  line-height: 1.2;


}
.docname {
  font-size: 15px;
  font-family: 'Roboto',arial;
  color: #000;
  line-height: 1.2;
  text-align: center;
}
.imgdesc{font-family:'Roboto',arial;font-style:italic;font-weight:400;font-size:14px;line-height:17px;margin-bottom:15px;margin-top:-5px;color:#494949;text-align:center}
.doc-quote{font-family:'Roboto',arial;font-style:italic;font-weight:400;font-size:14px;margin-bottom:15px;padding-top:10px}
.doc-quote a{font-family:"Roboto";font-style:italic;font-weight:400;color:#009cff;text-decoration:none}
.doc-quote a:hover{color:#1555af;text-decoration:underline}
.doc-img{display:table;position:relative;margin:3px auto }


.datelikes{margin-top:-30px;margin-bottom:30px;}

@media (min-width: 768px) {.doc-quote{font-size:16px}}
@media (min-width: 992px) {
.doc-img{margin:3px 0}
}

main{background: url(../images/bg_body.jpg);}
main ul{font-family:"Roboto";font-style:italic;font-weight:400;-webkit-padding-start:25px;}
main ul b{font-family:"RobotoBoldItalic";}
main ul li {
	position:relative;
	list-style-type: none;
	margin-bottom:10px
	}
main ul li::before{
	position:absolute;
	content:"";
	top:50%;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	margin-left:-25px;
	width: 0; 
	height: 0; 
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid red;
	}

main .container .white-bg{background:#fff}
.row.commentarios{background:#e8e8e8;margin-bottom:20px;margin-top:20px;margin-left: 0;}
.row.commentarios .col-md-12{padding:3px 0 5px 40px;font-family: 'Roboto',arial;}
.otros-commentarios{border-radius:5px;margin-bottom:40px;margin-top:25px;}
.otros-commentarios a{background:#e8e8e8;font-family:'Roboto',arial;font-size:15px;text-decoration:none;color:#484747;padding:5px 25px}
.otros-commentarios .col-md-12{font-size:17px}
.img-circle{border-radius:50%}





.comm-table{display:table;margin-top:0px}
.col-avatar{display:table-cell;margin-left:10px;max-width:50px;vertical-align:top;padding-top:0;margin-top:0}
.col-comm-text,.col-comm-text-2{padding-left:15px;display:table-cell;vertical-align:top;padding-top:0;margin-top:0;margin-bottom:20px}
.col-comm-text-2,.col-comm-text-2 p{vertical-align:middle;margin-bottom:0!important}
.nickname{font-family:"RobotoBold";font-size:14px;line-height:17px;margin-bottom:9px}
.comment{font-family:'Roboto',arial;font-size:14px;line-height:21px;color:#010101;margin-bottom:5px}
a.bluesky{font-family: 'RobotoItalic';color:#5f92e6;text-decoration:underline;cursor:pointer}
a.bluesky:hover{color:#1555af;cursor:pointer}
.date{font-family:'Roboto',arial;font-style:italic;font-weight:400;font-size:14px;color:#828282;margin-bottom:20px}
.orderlink{
	display:table;margin:0 auto;
  font-size: 26px;
  font-family: "RobotoMedium";
  color: #00baff;
  text-decoration: underline;
  line-height: 1.2;
  text-align: center;
}
@media (min-width: 576px) {.author{background:url('../images/header-bg-3.jpg') no-repeat center top;}.comment,.date,.nickname{font-size:16px}main .label a{font-size:12px;}}

@media (min-width: 992px) {.orderlink{font-size: 34px;}
main .triangle{margin-top:-55px;border-bottom: 52px solid rgba(232, 37, 129, 0.749);max-width:345px;}
main .label a{max-width:315px;padding:11px 0 7px 15px;font-size:12px;}
}
.border{border:1px solid #c4c4c4;padding:5px 10px;font-size:14px;line-height:18px}
.border [class*="col-"]{padding-right:0px;padding-left:0px;}
.border .sidebar-table{display:table;margin-bottom:15px}
.border .row:last-child .sidebar-table{margin-bottom:5px}
.border .col-sidebar-img{display:table-cell;margin-left:10px;max-width:105px;position:relative;float:left;min-height:81px;}
.border .col-sidebar-img img{width:105px;height:81px;margin-top:5px}
.border .col-sidebar-text{padding-left:10px;max-width:180px;display:table;vertical-align:middle;min-height:81px;}
.border .col-sidebar-text p{display:table-cell;vertical-align:middle;margin:0;}
.border .col-sidebar-text a{font-family:"Roboto";text-decoration:none;color:#010101}
.border .col-sidebar-text a:hover{text-decoration:underline}
footer{background:#020202;color:#9a9a9a;padding:10px 0 0px}
footer img{margin-bottom:10px}
footer p{color:#9a9a9a;font-size:13px;line-height:20px}
footer a{font-family: 'Roboto';color:#9a9a9a;text-decoration:underline;font-weight:normal}
footer .socialicons a{color:#fff;font-size:17px;padding-right:10px}
footer a:hover{color:#009cff;}
.related.related-bottom a{display:block;padding-top:0px;padding-bottom:40px;color:#444444;font-size:12.7px;font-family:"Roboto"}
.img-responsive{max-width:100%;display:block;margin:3px auto 15px}
.img-responsive.width-100{width:100%;margin:17px auto 3px}
@media (min-width: 992px) {.author{background:url('../images/header-bg-2.jpg') no-repeat center top;}footer .socialicons a{font-size:26px}.imgdesc{font-size:15px}
blockquote{font-size:32px;}
.main-pic{margin:0;padding-left:10px;padding-right:10px}
span.gray.text-right {
float: right;}
h1 {
font-size: 30px;}



main{padding:0px;}
span.red{font-size:20px}

}
@media (max-width: 991px) {.hidden-sm-down{display:none}footer .socialicons.text-right{text-align:center!important;margin-bottom:20px}}
@media (max-width: 479px) {.hidden-xs{display:none}}
@media (min-width: 1200px) {.author{background:url('../images/header-bg.jpg') no-repeat center top;}body{font-size:19px;line-height:1.2;}.row.related img{width:100%}footer p{font-size:16px;line-height:20px}main .label a{font-size:14px;padding:9px 0 7px 15px;}.doc-quote{font-size:18px;}
.row.commentarios{margin-left:-35px;}footer p{font-size:13px;}
}



@media (min-width: 768px){
.row.related .col-md-5 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;	
	}
.row.related .offset-md-1{
	margin-left:0
}	
}





@media (min-width: 992px){
.row.related .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.row.related .offset-md-1 {
    margin-left: 8.333333%;
}
}




